@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ep-color-primary: #409eff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
  height: 100vh;
}